<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Total number of managed devices -->
    <add key="Device.Count" value="17"/>

    <!-- PLC devices (index 0-2) -->
    <add key="Device.0.Use"          value="true"/>
    <add key="Device.0.Type"         value="PLC"/>
    <add key="Device.0.Name"         value="PLC1_PNL1"/>
    <add key="Device.0.Ip"           value="192.168.10.11"/>
    <add key="Device.0.Port"         value="502"/>
    <add key="Device.0.UnitId"       value="1"/>
    <add key="Device.0.SlaveId"      value="1"/>
    <add key="Device.0.CurrentReg"   value="0"/>
    <add key="Device.0.Scale"        value="1"/>
    <add key="Device.0.InputReg"     value="0"/>
    <add key="Device.0.PollInterval" value="500"/>
    <add key="Device.0.Timeout"      value="1000"/>

    <add key="Device.1.Use"          value="true"/>
    <add key="Device.1.Type"         value="PLC"/>
    <add key="Device.1.Name"         value="PLC2_PNL2"/>
    <add key="Device.1.Ip"           value="192.168.10.12"/>
    <add key="Device.1.Port"         value="502"/>
    <add key="Device.1.UnitId"       value="1"/>
    <add key="Device.1.SlaveId"      value="1"/>
    <add key="Device.1.CurrentReg"   value="0"/>
    <add key="Device.1.Scale"        value="1"/>
    <add key="Device.1.InputReg"     value="0"/>
    <add key="Device.1.PollInterval" value="500"/>
    <add key="Device.1.Timeout"      value="1000"/>

    <add key="Device.2.Use"          value="true"/>
    <add key="Device.2.Type"         value="PLC"/>
    <add key="Device.2.Name"         value="PLC3_PNL3"/>
    <add key="Device.2.Ip"           value="192.168.10.13"/>
    <add key="Device.2.Port"         value="502"/>
    <add key="Device.2.UnitId"       value="1"/>
    <add key="Device.2.SlaveId"      value="1"/>
    <add key="Device.2.CurrentReg"   value="0"/>
    <add key="Device.2.Scale"        value="1"/>
    <add key="Device.2.InputReg"     value="0"/>
    <add key="Device.2.PollInterval" value="500"/>
    <add key="Device.2.Timeout"      value="1000"/>

    <!-- ISEM devices (index 3-12) -->
    <add key="Device.3.Use"          value="false"/>
    <add key="Device.3.Type"         value="ISEM"/>
    <add key="Device.3.Name"         value="ISEM2-WHRUH_01"/>
    <add key="Device.3.Ip"           value="192.168.1.10"/>
    <add key="Device.3.Port"         value="502"/>
    <add key="Device.3.UnitId"       value="1"/>
    <add key="Device.3.SlaveId"      value="1"/>
    <add key="Device.3.CurrentReg"   value="500"/>
    <add key="Device.3.Scale"        value="0.01"/>
    <add key="Device.3.InputReg"     value="0"/>
    <add key="Device.3.PollInterval" value="500"/>
    <add key="Device.3.Timeout"      value="1000"/>

    <add key="Device.4.Use"          value="false"/>
    <add key="Device.4.Type"         value="ISEM"/>
    <add key="Device.4.Name"         value="ISEM2-WHRUH_02"/>
    <add key="Device.4.Ip"           value="192.168.1.11"/>
    <add key="Device.4.Port"         value="502"/>
    <add key="Device.4.UnitId"       value="2"/>
    <add key="Device.4.SlaveId"      value="2"/>
    <add key="Device.4.CurrentReg"   value="500"/>
    <add key="Device.4.Scale"        value="0.01"/>
    <add key="Device.4.InputReg"     value="0"/>
    <add key="Device.4.PollInterval" value="500"/>
    <add key="Device.4.Timeout"      value="1000"/>

    <add key="Device.5.Use"          value="false"/>
    <add key="Device.5.Type"         value="ISEM"/>
    <add key="Device.5.Name"         value="ISEM2-WHRUH_03"/>
    <add key="Device.5.Ip"           value="192.168.1.12"/>
    <add key="Device.5.Port"         value="502"/>
    <add key="Device.5.UnitId"       value="3"/>
    <add key="Device.5.SlaveId"      value="3"/>
    <add key="Device.5.CurrentReg"   value="500"/>
    <add key="Device.5.Scale"        value="0.01"/>
    <add key="Device.5.InputReg"     value="0"/>
    <add key="Device.5.PollInterval" value="500"/>
    <add key="Device.5.Timeout"      value="1000"/>

    <add key="Device.6.Use"          value="false"/>
    <add key="Device.6.Type"         value="ISEM"/>
    <add key="Device.6.Name"         value="ISEM2-WHRUH_04"/>
    <add key="Device.6.Ip"           value="192.168.1.13"/>
    <add key="Device.6.Port"         value="502"/>
    <add key="Device.6.UnitId"       value="4"/>
    <add key="Device.6.SlaveId"      value="4"/>
    <add key="Device.6.CurrentReg"   value="500"/>
    <add key="Device.6.Scale"        value="0.01"/>
    <add key="Device.6.InputReg"     value="0"/>
    <add key="Device.6.PollInterval" value="500"/>
    <add key="Device.6.Timeout"      value="1000"/>

    <add key="Device.7.Use"          value="false"/>
    <add key="Device.7.Type"         value="ISEM"/>
    <add key="Device.7.Name"         value="ISEM2-WHRUH_05"/>
    <add key="Device.7.Ip"           value="192.168.1.14"/>
    <add key="Device.7.Port"         value="502"/>
    <add key="Device.7.UnitId"       value="5"/>
    <add key="Device.7.SlaveId"      value="5"/>
    <add key="Device.7.CurrentReg"   value="500"/>
    <add key="Device.7.Scale"        value="0.01"/>
    <add key="Device.7.InputReg"     value="0"/>
    <add key="Device.7.PollInterval" value="500"/>
    <add key="Device.7.Timeout"      value="1000"/>

    <add key="Device.8.Use"          value="false"/>
    <add key="Device.8.Type"         value="ISEM"/>
    <add key="Device.8.Name"         value="ISEM2-WHRUH_06"/>
    <add key="Device.8.Ip"           value="192.168.1.15"/>
    <add key="Device.8.Port"         value="502"/>
    <add key="Device.8.UnitId"       value="6"/>
    <add key="Device.8.SlaveId"      value="6"/>
    <add key="Device.8.CurrentReg"   value="500"/>
    <add key="Device.8.Scale"        value="0.01"/>
    <add key="Device.8.InputReg"     value="0"/>
    <add key="Device.8.PollInterval" value="500"/>
    <add key="Device.8.Timeout"      value="1000"/>

    <add key="Device.9.Use"          value="false"/>
    <add key="Device.9.Type"         value="ISEM"/>
    <add key="Device.9.Name"         value="ISEM2-WHRUH_07"/>
    <add key="Device.9.Ip"           value="192.168.1.16"/>
    <add key="Device.9.Port"         value="502"/>
    <add key="Device.9.UnitId"       value="7"/>
    <add key="Device.9.SlaveId"      value="7"/>
    <add key="Device.9.CurrentReg"   value="500"/>
    <add key="Device.9.Scale"        value="0.01"/>
    <add key="Device.9.InputReg"     value="0"/>
    <add key="Device.9.PollInterval" value="500"/>
    <add key="Device.9.Timeout"      value="1000"/>

    <add key="Device.10.Use"          value="false"/>
    <add key="Device.10.Type"         value="ISEM"/>
    <add key="Device.10.Name"         value="ISEM2-WHRUH_08"/>
    <add key="Device.10.Ip"           value="192.168.1.17"/>
    <add key="Device.10.Port"         value="502"/>
    <add key="Device.10.UnitId"       value="8"/>
    <add key="Device.10.SlaveId"      value="8"/>
    <add key="Device.10.CurrentReg"   value="500"/>
    <add key="Device.10.Scale"        value="0.01"/>
    <add key="Device.10.InputReg"     value="0"/>
    <add key="Device.10.PollInterval" value="500"/>
    <add key="Device.10.Timeout"      value="1000"/>

    <add key="Device.11.Use"          value="false"/>
    <add key="Device.11.Type"         value="ISEM"/>
    <add key="Device.11.Name"         value="ISEM2-WHRUH_09"/>
    <add key="Device.11.Ip"           value="192.168.1.18"/>
    <add key="Device.11.Port"         value="502"/>
    <add key="Device.11.UnitId"       value="9"/>
    <add key="Device.11.SlaveId"      value="9"/>
    <add key="Device.11.CurrentReg"   value="500"/>
    <add key="Device.11.Scale"        value="0.01"/>
    <add key="Device.11.InputReg"     value="0"/>
    <add key="Device.11.PollInterval" value="500"/>
    <add key="Device.11.Timeout"      value="1000"/>

    <add key="Device.12.Use"          value="false"/>
    <add key="Device.12.Type"         value="ISEM"/>
    <add key="Device.12.Name"         value="ISEM2-WHRUH_10"/>
    <add key="Device.12.Ip"           value="192.168.1.19"/>
    <add key="Device.12.Port"         value="502"/>
    <add key="Device.12.UnitId"       value="10"/>
    <add key="Device.12.SlaveId"      value="10"/>
    <add key="Device.12.CurrentReg"   value="500"/>
    <add key="Device.12.Scale"        value="0.01"/>
    <add key="Device.12.InputReg"     value="0"/>
    <add key="Device.12.PollInterval" value="500"/>
    <add key="Device.12.Timeout"      value="1000"/>

    <!-- GIMAC devices (index 13-16) -->
    <add key="Device.13.Use"          value="false"/>
    <add key="Device.13.Type"         value="GIMAC"/>
    <add key="Device.13.Name"         value="GIMAC1000_01"/>
    <add key="Device.13.Ip"           value="192.168.1.20"/>
    <add key="Device.13.Port"         value="502"/>
    <add key="Device.13.UnitId"       value="1"/>
    <add key="Device.13.SlaveId"      value="1"/>
    <add key="Device.13.CurrentReg"   value="30003"/>
    <add key="Device.13.Scale"        value="1"/>
    <add key="Device.13.InputReg"     value="0"/>
    <add key="Device.13.PollInterval" value="500"/>
    <add key="Device.13.Timeout"      value="1000"/>

    <add key="Device.14.Use"          value="false"/>
    <add key="Device.14.Type"         value="GIMAC"/>
    <add key="Device.14.Name"         value="GIMAC1000_02"/>
    <add key="Device.14.Ip"           value="192.168.1.21"/>
    <add key="Device.14.Port"         value="502"/>
    <add key="Device.14.UnitId"       value="2"/>
    <add key="Device.14.SlaveId"      value="2"/>
    <add key="Device.14.CurrentReg"   value="30003"/>
    <add key="Device.14.Scale"        value="1"/>
    <add key="Device.14.InputReg"     value="0"/>
    <add key="Device.14.PollInterval" value="500"/>
    <add key="Device.14.Timeout"      value="1000"/>

    <add key="Device.15.Use"          value="false"/>
    <add key="Device.15.Type"         value="GIMAC"/>
    <add key="Device.15.Name"         value="GIMAC1000_03"/>
    <add key="Device.15.Ip"           value="192.168.1.22"/>
    <add key="Device.15.Port"         value="502"/>
    <add key="Device.15.UnitId"       value="3"/>
    <add key="Device.15.SlaveId"      value="3"/>
    <add key="Device.15.CurrentReg"   value="30003"/>
    <add key="Device.15.Scale"        value="1"/>
    <add key="Device.15.InputReg"     value="0"/>
    <add key="Device.15.PollInterval" value="500"/>
    <add key="Device.15.Timeout"      value="1000"/>

    <add key="Device.16.Use"          value="false"/>
    <add key="Device.16.Type"         value="GIMAC"/>
    <add key="Device.16.Name"         value="GIMAC1000_04"/>
    <add key="Device.16.Ip"           value="192.168.1.23"/>
    <add key="Device.16.Port"         value="502"/>
    <add key="Device.16.UnitId"       value="4"/>
    <add key="Device.16.SlaveId"      value="4"/>
    <add key="Device.16.CurrentReg"   value="30003"/>
    <add key="Device.16.Scale"        value="1"/>
    <add key="Device.16.InputReg"     value="0"/>
    <add key="Device.16.PollInterval" value="500"/>
    <add key="Device.16.Timeout"      value="1000"/>
  </appSettings>
</configuration>
